
#nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:#0e0d0d;
  opacity:0.6;
  filter:alpha(opacity=60); 
  position: fixed;
  height:85%;
  margin-left: 8px;

  
}
  
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: rgba(224, 220, 220, 0.445);
}

#copyRight{
  padding: 20px;
 bottom: 0;
  color: white;
  position: absolute;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height:90%;
  margin-top:80px;
}

#dasHeader{
  margin-left: 220px;
  padding: 1px 16px;
  height:70%;
  margin-top:80px;
}

/* #dashboard{
  margin-left: 220px;
  padding: 1px 16px;
  height:200px;
  margin-top:5px;
} */

#dasContent {
  margin-left: 220px;
  padding: 1px 16px;
  height:90%;
  margin-top:25px;
   
}


#xxx{
  display:block; 
  padding:10px;
  margin-top:0;
  height:300px;
  overflow:auto;
}




